/models/.dvc/
/models/.dvcignore
/models/modelentraine_lr.pickle
/models/modelentraine_rf.pickle
/models/modelentraine_plr.pickle
/models/modelentraine_pftr.pickle
/models/modelentraine_sv.pickle
/data/.dvc/
/data/.dvcignore
/data/RUL_FD001.txt
/data/RUL_FD003.txt 
/data/test_FD001.txt
/data/test_FD003.txt
/data/train_FD001.txt
/data/train_FD003.txt
/data/RUL_FD002.txt
/data/RUL_FD004.txt
/data/test_FD002.txt
/data/test_FD004.txt
/data/train_FD002.txt
/data/train_FD004.txt
/metrics/prodmetrics/.dvc/
/metrics/prodmetrics/.dvcignore
/metrics/prodmetrics/prodmetrics.txt
/metrics/testmetrics/.dvc/
/metrics/testmetrics/.dvcignore
/metrics/testmetrics/testmetrics.txt
